---
import { Icon } from "astro-icon/components";
---

<!-- TODO: Correct Whatsapp number -->
<a
  href="http://wa.me/2348089491528"
  target="_blank"
  rel="noopener noreferrer"
  class="fixed border-2 cursor-pointer animate-bounce hover:animate-none duration-700 hover:scale-105 transition text-gray-100 bg-orange-300 shadow-md border-orange-600 rounded-[36px] left-4 p-1 sm:left-8 bottom-4 sm:bottom-8 z-50"
>
  <div class="bg-blue-900 rounded-3xl flex gap-3 items-center px-6 py-3">
    <Icon size={20} name={"mdi:chat"} /> Live Chat...
  </div>
</a>
