---
import { Image } from "astro:assets";
const { isReverse, imgSrc, title, content } = Astro.props;
---

<div
  class={`w-full flex gap-4 items-center sm:gap-8 py-6 ${
    isReverse ? "flex-row-reverse" : ""
  }`}
>
  <div
    class="w-[47%] h-[280px] p-4 rounded-3xl overflow-hidden flex-shrink-0 relative"
  >
    <Image
      src={imgSrc
        ? imgSrc
        : "https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703928891/banners/q8e1017bw0v3owa8gwh7.jpg"}
      alt={title ? title : "goshen"}
      height={300}
      width={300}
      class={"absolute top-0 w-full h-full object-cover"}
    />
    <h2>{title}</h2>
    <p>{content}</p>
  </div>
  <div class="prose">
    <h2>{title ? title : "This section title"}</h2>
    <p class="text-gray-900">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ut neque
      voluptas quidem obcaecati accusantium. Ipsum veritatis omnis nostrum
      quaerat in ea dignissimos eligendi dolore, natus, voluptatibus atque ipsam
      rerum sapiente quas sint! Voluptates fugit temporibus possimus asperiores
      tenetur! Pariatur eos dolor voluptates ipsam autem!
    </p>
  </div>
</div>
