---
import { Image } from "astro:assets";
const { isReverse, imgSrc, title, content } = Astro.props;
---

<div
  id="flippableSection"
  class={`w-full flex px-4 prose-h2:text-2xl flex-col sm:flex-row gap-2 cursor-pointer rounded-3xl py-8 relative items-center sm:gap-4 ${
    isReverse ? "flex-row-reverse" : ""
  }`}
>
  <div
    class=`w-full reveal ${
      isReverse ? "fade-right" : "fade-left"
    }  sm:w-[45%] h-[300px] sm:h-[280px] rounded-3xl overflow-hidden flex-shrink-0 relative`
  >
    <Image
      src={imgSrc
        ? imgSrc
        : "https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703928891/banners/q8e1017bw0v3owa8gwh7.jpg"}
      alt={title ? title : "goshen"}
      height={300}
      width={300}
      loading={"lazy"}
      class={"absolute top-0 w-full h-full object-cover"}
    />
  </div>
  <div
    class=`sm:prose-lg reveal ${
      isReverse ? "fade-left" : "fade-right"
    } max-w-none prose prose-p:leading-8 absolute sm:relative bottom-0  sm:bg-white sm:bg-opacity-0 rounded-3xl py-8`
    sm:px-8
  >
    <h2 class="!mb-2 text-gray-900">
      {title ? title : "This section title"}
    </h2>

    {
      content
        ? content.map((c: string) => (
            <p class="sm:line-clamp-6 line-clamp-3 text-gray-900">{c}</p>
          ))
        : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ut neque voluptas quidem obcaecati accusantium. Ipsum veritatis omnis nostrum quaerat in ea dignissimos eligendi dolore, natus, voluptatibus atque ipsam rerum sapiente quas sint! Voluptates fugit temporibus possimus asperiores tenetur! Pariatur eos dolor voluptates ipsam autem!"
    }
  </div>
</div>
