---
import { Image } from "astro:assets";
---

<a class="flex flex-shrink-0 gap-4 items-center mb-2" href=""
  ><Image
    alt={"sd"}
    src={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703912088/logos/fb10n60uzloadt3ay6jx.png"}
    height={48}
    width={48}
  />

  <div class="flex flex-col gap-1">
    <p>GOSHEN GROUP OF SCHOOLS</p>
    <p class="text-xs font-bold">CRE . NUR . PRI . SEC</p>
  </div>
</a>
