---
import { Image } from "astro:assets";
---

<a class="flex flex-shrink-0 gap-1 sm:gap-3 items-center" href="/"
  ><Image
    alt={"sd"}
    src={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703912088/logos/fb10n60uzloadt3ay6jx.png"}
    height={54}
    width={54}
  />

  <div class="flex flex-col gap-0.5">
    <p class="font-bold sm:text-lg text-base">GOSHEN GROUP OF SCHOOLS</p>
    <p class="text-xs tracking-wide font-bold">CRE . NUR . PRI . SEC</p>
  </div>
</a>
