---
import { Icon } from "astro-icon/components";
---

<div
  id="scrollToTop"
  class="fixed h-12 w-12 grid place-items-center shadow-sm z-50 border bg-purple-100 text-gray-800 border-purple-600 rounded-full right-4 sm:right-8 bottom-4 sm:bottom-8"
>
  <Icon name={"mdi:chevron-up"} />
</div>

<style>
  #scrollToTop:hover {
    transform: scale(120%);
    @apply transition duration-200 ease-in-out;
    cursor: pointer;
  }
  #scrollToTop > * {
    transform: scale(130%);
  }
</style>

<script>
  const scrollToTop = document.querySelector("#scrollToTop");

  if (scrollToTop)
    scrollToTop.addEventListener("click", () => window.scrollTo(0, 0));
</script>
