---
import { Image } from "astro:assets";
---

<div class="newsCard">
  <div class="imgContainer">
    <Image
      src={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703912088/logos/fb10n60uzloadt3ay6jx.png"}
      height={320}
      width={320}
      alt={"news image"}
    />
  </div>
</div>
