---
import { Image } from "astro:assets";
import { motion, AnimatePresence } from "framer-motion";
---

<AnimatePresence>
  <div
    class="newsCard w-full sm:max-w-sm rounded-3xl hover:cursor-pointer border border-transparent hover:scale-105 transition duration-200"
  >
    <div class="imgContainer bg-slate-50 h-[280px] rounded-3xl">
      <Image
        src={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703929914/banners/ucqolrijlkrtybbizbkn.jpg"}
        height={320}
        width={320}
        class={"img object-cover"}
        alt={"Goshen news"}
      />
    </div>
    <div
      class="flex justify-between py-2 mb-2 opacity-95 font-bold text-gray-700"
    >
      <p class="text-sm">3 hours ago</p>
      <p class="text-sm">4 mins read</p>
    </div>

    <div class="flex flex-col gap-2">
      <h2 class="font-semibold leading-7 text-2xl line-clamp-2">
        Goshen News Title Long enough to another
      </h2>

      <p class="line-clamp-4 leading-7">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
        aperiam, accusamus eligendi ea impedit aliquid reprehenderit a
        perferendis? Dolor, distinctio consequatur nostrum sequi corrupti iure.
      </p>

      <a
        href="/news"
        class="font-bold text-lg mt-3 prose mb-2 flex text-purple-500 underline-offset-8 underline"
        >Read More
      </a>
    </div>
  </div>
</AnimatePresence>
