---
import Button from "../../components/shared/Button.astro";
---

<section id="ctaSection" class="min-h-[45vh] px-6 py-12 sm:py-24 sm:px-0">
  <div
    class="container h-full flex flex-col sm:flex-row gap-8 items-center grid-cols-[1fr auto]"
  >
    <div class="flex-grow">
      <div class="prose prose-lg text-center sm:text-left sm:max-w-3xl">
        <h1 class="text-white">
          Are you ready to shape your ward's future today?
        </h1>

        <p>
          Enroll Your Child in a School Where Every Day is a Learning Adventure.
          Join Us in Shaping Your Child's Bright Academic Journey
        </p>
      </div>
    </div>

    <a href="/contact-us" class="flex-shrink-0">
      <Button text="Contact Us" iconName="arrow-right" color="purple" />
    </a>
  </div>
</section>

<style>
  #ctaSection {
    background-image: url("https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703928891/banners/q8e1017bw0v3owa8gwh7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.76);
  }
</style>
