---
import CTASection from "../components/sections/CTASection.astro";
import VisionCard from "../components/cards/VisionCard.astro";
import Layout from "../layouts/Layout.astro";
import AboutSection from "../components/shared/AboutSection.astro";
import { Image } from "astro:assets";
---

<Layout activeNav="about">
  <main>
    <section class="mb-24 py-10 sm:py-16">
      <AboutSection
        title="about us"
        subtitle="Welcome to Goshen Group of Schools"
        classes="container mb-10 sm:mb-16 px-6 sm:px-0"
      />

      <div class="illustation-image__about h-[78vh] sm:h-[79vh] mb-16 sm:mb-32">
      </div>

      <div class="container px-6 sm:px-0">
        <div
          class="prose prose-h2:text-4xl prose-p:text-lg p-12 bg-purple-700 max-w-none sm:mt-24 mt-16 sm:rounded-3xl rounded-2xl w-full"
        >
          <h2 class="text-white">Our Mission</h2>
          <p>
            Fostering a culture of character, learning, and career readiness. We
            strive to provide an enriching educational experience that not only
            equips students with the knowledge for future careers but also
            instills the values and skills necessary for lifelong success.
          </p>
        </div>
      </div>
    </section>

    <!-- Our Vision more -->
    <section class="px-6 py-8 sm:py-24 sm:px-0" id="our-vision">
      <div
        class="container flex flex-col sm:flex-row gap-4 sm:h-[78vh] items-center sm:gap-8"
      >
        <div
          class="reveal fade-bottom w-full sm:w-[50%] h-[320px] sm:h-[74vh] sm:rounded-3xl rounded-2xl overflow-hidden flex-shrink-0 relative"
        >
          <Image
            class={"absolute h-full w-full object-cover"}
            height={300}
            width={300}
            alt={"Goshen Founder"}
            src={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703929914/banners/ucqolrijlkrtybbizbkn.jpg"}
          />
        </div>

        <div class="reveal stat-div">
          <div
            class="reveal fade-right flex flex-col gap-1 prose prose-p:text-lg max-w-none prose-headings:mb-1 prose-p:text-gray-600"
          >
            <p class="text-gray-700 !mb-0">
              We dedicate ourselves to personally knowing each student,
              fostering their social and emotional growth, and cultivating
              passionate individuals connected to their faith, school, and
              community for a lifetime.
            </p>

            <p class="text-gray-700 !mb-0">
              Students at our schools will experience significant growth by
              discovering their values, skills, and strengths in a co-ed
              setting, learning from each other's unique perspectives.
            </p>

            <p class="text-gray-700 !mb-0">
              Our family atmosphere allows students to learn together, pray
              together, problem solve together, celebrate together, compete
              together and serve together. They can experience the joys of life
              and offer support to each other during their high school years and
              beyond
            </p>
          </div>

          <div
            class="reveal fade-bottom grid grid-cols-2 sm:flex justify-between gap-12 mt-8 mr-8"
          >
            <div class="flex flex-col mt-4 items-center gap-1">
              <h2 class="font-bold text-4xl">
                <span class="counter" data-target="40">40</span>+
              </h2>
              <small>Teachers</small>
            </div>
            <div class="flex flex-col mt-4 items-center gap-1">
              <h2 class="font-bold text-4xl">
                <span class="counter" data-target="4000">2</span>+
              </h2>
              <small>Students</small>
            </div>
            <div class="flex flex-col mt-4 items-center gap-1">
              <h2 class="font-bold text-4xl">A+</h2>
              <small>Accreditation</small>
            </div>
            <div class="flex flex-col mt-4 items-center gap-1">
              <h2 class="font-bold text-4xl">
                <span class="counter" data-target="10">10</span>yrs
              </h2>
              <small>Experience</small>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Our Vision -->
    <section class="bg-slate-50 px-6 py-8 sm:py-24 sm:px-0">
      <div class="container">
        <AboutSection
          classes="mb-12"
          title="Our vision"
          subtitle="A Vision for a World-Class Learning Environment Where Every Student Thrives and Flourishes."
        />
        <div class="grid gap-12">
          <VisionCard
            number="1"
            title="Academic Excellence and Innovation"
            description="Striving to create an environment where academic excellence is not only achieved but continuously pursued. Embracing innovative teaching methods, cutting-edge curriculum design, and technology integration to prepare students for the challenges of a rapidly evolving world."
          />
          <VisionCard
            number="2"
            title="Empowering Student Leaders and Responsible Citizens"
            description="Aspiring to develop students as leaders who not only excel academically but also take an active role in their communities. Our social vision focuses on nurturing responsible citizens who contribute meaningfully to society through service, leadership, and civic engagement."
          />
          <VisionCard
            number="3"
            title="A Community of Lifelong Learners"
            description="Nurturing the love for learning, and creativity in each student, ensuring they leave with the abilities and principles required to contribute positively to society."
          />
          <VisionCard
            number="4"
            title="Athletic Excellence and Sportmanship"
            description="Striving for athletic excellence by providing comprehensive sports programs that develop physical fitness, teamwork, and sportsmanship.  Our vision is to develop well-rounded athletes who not only excel on the field but also contribute positively to the broader community."
          />
        </div>
      </div>
    </section>

    <!-- Our History -->

    <section class="mb-12 px-6 py-8 sm:py-24 h-max sm:px-0" id="our-history">
      <div class="container">
        <AboutSection
          title="Our history"
          subtitle="Driving Excellence in Education"
        />
        <div
          class="prose mt-8 prose-p:text-gray-600 max-w-none prose-p:text-lg"
        >
          <p class="!leading-8">
            We dedicate ourselves to personally knowing each student, fostering
            their social and emotional growth, and cultivating passionate
            individuals connected to their faith, school, and community for a
            lifetime.
          </p>

          <p class="!leading-8">
            Students at our schools will experience significant growth by
            discovering their values, skills, and strengths in a co-ed setting,
            learning from each other's unique perspectives.
          </p>

          <p class="!leading-8">
            Our family atmosphere allows students to learn together, pray
            together, problem solve together, celebrate together, compete
            together and serve together. They can experience the joys of life
            and offer support to each other during their high school years and
            beyond
          </p>
        </div>
      </div>
    </section>

    <!-- Founders / Director Speech -->

    <section
      class="mb-12 sm:mb-24 sm:py-24 py-12 px-6 sm:px-0"
      id="director-speech"
    >
      <AboutSection
        title="FOUNDER/DIRECTORS"
        subtitle="Meet Our Director"
        classes="container mb-12"
      />

      <div
        class="container flex flex-col sm:flex-row gap-4 sm:h-[78vh] items-center sm:gap-8"
      >
        <div
          class="w-[320px] sm:w-[38%] h-[320px] sm:h-full sm:rounded-3xl rounded-2xl overflow-hidden flex-shrink-0 relative"
        >
          <Image
            class={"absolute h-full w-full object-cover"}
            height={300}
            width={300}
            alt={"Goshen Founder"}
            src={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1704672071/gallery/ph9jx4mtoixehuvdt31t.jpg"}
          />
        </div>

        <div class="">
          <div
            class="flex flex-col gap-1 prose prose-p:text-lg max-w-none prose-headings:mb-1 prose-p:text-gray-600"
          >
            <h2>
              "Train up a child in the way he should go and when he is old, he
              will not depart from it."
            </h2>
            <p class="font-bold !text-xl !mb-0">Proverbs 22:6</p>

            <p class="text-gray-700 !mb-0">
              As a household word that is strategically balanced within our
              Nation’s educational system, Goshen City and Goshen Stars Global
              College is a brand name that has sprung to limelight within a
              couple of years ago, and indeed a dream come through. As a brand
              name that implies to sparkle, shine, glitter, or appear bright,
              the idea of naming the academy “Goshen City and Stars” by the
              founder of the academy was not accidental.The initiative to set up
              this Academy was I believe, as a result of the explosive rapid
              changes within the social structures of the society in which we
              live.
            </p>

            <p class="text-gray-700 !mb-0">
              In other words, the birth of this Academy was an Earnest effort by
              the Executive Director/ CEO to nurture a group of future leaders
              who would not only intellectually, but socially and morally steer
              the affairs of this Nation to its destined destination.
            </p>

            <p class="text-gray-700 !mb-0">
              Having the conviction in mind that Nigeria can be better, her
              initiative was not purely capitalistic in thought but rather, an
              effort to better strengthen the mechanics of our social.
            </p>
          </div>

          <div class="flex flex-col mt-4">
            <h2 class="font-bold text-2xl">OKAKA, IFEOMA CHINWE</h2>
            <p>Director/Founder</p>
          </div>
        </div>
      </div>
    </section>

    <CTASection />
  </main>
</Layout>

<style>
  .illustation-image__about {
    background-image: url("https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703928891/banners/q8e1017bw0v3owa8gwh7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
</style>

<script></script>
