---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import CTASection from "../components/sections/CTASection.astro";
import Indicator from "@components/shared/Indicator.astro";
import Navigator from "@components/shared/Navigator.astro";
---

<Layout activeNav="gallery">
  <main>
    <section>
      <div class="mx-auto w-full py-12 container text-center grid">
        <h1 class="font-bold text-3xl text-center mb-6">Gallery</h1>
        <p class="mx-auto max-w-3xl text-lg leading-7">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam, vel
          id harum quidem accusamus minima aspernatur laboriosam autem
          distinctio eligendi!
        </p>

        <div class="py-10 px-20 relative">
          <div
            class={`imgContainer h-[350px] sm:h-[78vh] w-full  hover:opacity-100 rounded-[48px] shadow-sm hover:cursor-pointer transition hover:z-40 duration-300 `}
          >
            <Image
              src={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703929914/banners/ucqolrijlkrtybbizbkn.jpg"}
              height={320}
              width={320}
              alt={"New goshen Gallery showing school activities"}
              class={"img object-cover"}
            />
          </div>

          <!--  -->

          <div
            class="indicators mt-8 pb-24 flex gap-4 items-center justify-center"
          >
            <Indicator />
            <Indicator isActive />
            <Indicator />
            <Indicator />
          </div>

          <!--  -->

          <div
            class="absolute top-[50%] -mt-24 left-0 w-full flex justify-between"
          >
            <Navigator direction="left" />
            <Navigator direction="right" isActive />
          </div>
        </div>
      </div>
    </section>

    <CTASection />
  </main>
</Layout>
