---
// import Layout from "../layouts/Layout.astro";
import Layout from "@layouts/Layout.astro";
import NewsCard from "../components/cards/News.card.astro";
import FlippableGridView from "../components/shared/FlippableGridView.astro";
import TestimonialCard from "@components/cards/TestimonialCard.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
---

<Layout activeNav="/">
  <main class="">
    <!-- Hero  -->

    <section class="hero grid w-full h-[70vh] py-4">
      <div
        class="container gap-8 px-4 items-center grid grid-cols-7 h-full overflow-hidden"
      >
        <!-- Write-up -->
        <div class="col-span-4 grid gap-8 prose">
          <h1 class="sm:text-6xl">Empowering Every Child's Potential</h1>

          <p class="text-gray-900">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
            nihil velit praesentium porro repudiandae in nesciunt adipisci.
            Atque eos accusamus suscipit distinctio, consectetur illum
            similique.
          </p>

          <button
            class="flex gap-4 font-bold justify-center items-center bg-blue-950 w-max rounded-[48px] px-6 py-3 text-white"
          >
            Enroll Today <Icon name={"mdi:arrow-right"} />
          </button>
        </div>

        <!-- Illustration -->
        <div class="col-start-5 col-end-8 relative h-full w-full">
          <Image
            height={600}
            width={600}
            class={"absolute top-0 h-full w-full object-cover"}
            src={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703929914/banners/ucqolrijlkrtybbizbkn.jpg"}
            alt={"Goshen City and Starts Group of Schools"}
          />
        </div>
      </div>
    </section>

    <!-- Schooling Categories -->

    <section class="bg-blue-950 py-12 sm:py-20">
      <div class="container w-full text-white">
        <div class="grid grid-cols-2 sm:grid-cols-4 space-x-4 divide-x-2">
          <div
            class="flex flex-col px-2 prose w-full justify-center items-center text-center gap-2"
          >
            <h3 class="not-italic text-white">Creche</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae, itaque maiores veritatis hic perferendis vel.
            </p>
          </div>

          <div
            class="flex flex-col px-2 prose w-full justify-center items-center text-center gap-2"
          >
            <h3 class="not-italic text-white">Nursery</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae, itaque maiores veritatis hic perferendis vel.
            </p>
          </div>

          <div
            class="flex flex-col px-2 prose w-full justify-center items-center text-center gap-2"
          >
            <h3 class="not-italic text-white">Basic</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae, itaque maiores veritatis hic perferendis vel.
            </p>
          </div>
          <div
            class="flex flex-col px-2 prose w-full justify-center items-center text-center gap-2"
          >
            <h3 class="not-italic text-white">Secondary</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae, itaque maiores veritatis hic perferendis vel.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- About Us -->

    <section class="bg-gray-100 py-6 mt-20 pb-24">
      <div class="container mb-12 pt-8">
        <p class="text-purple-700 font-bold tracking-wide mb-5">ABOUT US</p>
      </div>

      <div class="illustation-image__about h-[52vh] mb-16"></div>

      <div class="container flex flex-col gap-2">
        <div
          class="prose max-w-6xl prose-headings:mb-3 mb-12 text-gray-800 w-full"
        >
          <h2 class="!mb-10">Welcome to Goshen Group of Schools</h2>

          <p class="text-gray-800">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo,
            id! Architecto quaerat labore id provident, eveniet libero fuga
            quidem ipsam incidunt nihil fugiat at. Enim fugiat a laborum culpa
            hic esse delectus mollitia obcaecati ipsum. Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Modi, ex. Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Velit, voluptatem! Quod,
            cupiditate.
          </p>
        </div>

        <button
          class="flex gap-4 font-bold justify-center items-center bg-purple-700 w-max rounded-[48px] px-6 py-4 text-white"
        >
          Learn more<Icon name={"mdi:arrow-right"} />
        </button>

        <div
          class="prose p-12 bg-purple-700 max-w-6xl mt-24 rounded-3xl w-full"
        >
          <h2 class="text-white">Our Mission</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
            pariatur optio possimus delectus! Repellendus voluptatibus magni,
            laboriosam, autem dignissimos perferendis debitis provident deserunt
            nemo maiores est asperiores voluptatum. Lorem ipsum dolor sit amet
            consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </section>

    <!-- Why Choose Us -->

    <section class="py-8">
      <div class="container mb-4">
        <p class="text-purple-700 font-bold tracking-wide mb-5">
          WHY CHOOSE US
        </p>
        <h3 class="text-lg font-bold">Here's What make us Unique!</h3>
      </div>

      <div class="container px-12 space-y-6">
        <FlippableGridView />
        <FlippableGridView isReverse="true/" />
        <FlippableGridView />
        <FlippableGridView isReverse="true/" />
      </div>
    </section>

    <!-- Gallery-->

    <section class="py-8 relative h-[88vh] grid items-center">
      <div class="container mb-12 flex justify-between items-end">
        <div class="">
          <p class="text-purple-700 font-bold tracking-wide mb-5">GALLERY</p>
          <h3 class="text-lg font-bold">Take a Virtual Tour of our School</h3>
        </div>
        <!-- Gallery arrow Navigation -->
        <div class="arrows flex gap-3">
          <div
            class="h-12 w-12 bg-purple-100 text-gray-500 rounded-full grid place-items-center"
          >
            <Icon name={"mdi:arrow-left"} />
          </div>
          <div
            class="h-12 w-12 bg-purple-500 text-white rounded-full grid place-items-center"
          >
            <Icon name={"mdi:arrow-right"} />
          </div>
        </div>
      </div>
      <div class="grid grid-cols-3">
        <div class="imgContainer h-[350px] w-full">
          <Image
            src={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703929914/banners/ucqolrijlkrtybbizbkn.jpg"}
            height={320}
            width={320}
            alt={"Goshen Gallery Images Preview"}
            class={"img object-cover"}
          />
        </div>
        <div class="imgContainer h-[350px] w-full">
          <Image
            src={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703929914/banners/ucqolrijlkrtybbizbkn.jpg"}
            height={320}
            width={320}
            alt={"Goshen Gallery Images Preview"}
            class={"img object-cover"}
          />
        </div>
        <div class="imgContainer h-[350px] w-full">
          <Image
            src={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703929914/banners/ucqolrijlkrtybbizbkn.jpg"}
            height={320}
            width={320}
            alt={"Goshen Gallery Images Preview"}
            class={"img object-cover"}
          />
        </div>
      </div>

      <div
        class="absolute left-[50%] translate-x-[-50%] top-[50%] translate-y-[-30%] image-display h-[60vh] w-[85vh]"
      >
        <div
          class="relative h-full w-full overflow-hidden rounded-[48px] shadow-sm"
        >
          <Image
            class={"imgContainer object-cover"}
            height={1080}
            width={1080}
            alt={"Goshen Founder"}
            src={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703929914/banners/ucqolrijlkrtybbizbkn.jpg"}
          />
        </div>
      </div>
    </section>

    <!-- Founders / Director Speech -->

    <section class="py-8 pb-24">
      <div class="container mb-12">
        <p class="text-purple-700 font-bold tracking-wide mb-5">
          FOUNDER/DIRECTORS
        </p>
        <h3 class="text-lg font-bold">Meet Our Director</h3>
      </div>

      <div class="container flex gap-4 items-center sm:gap-8">
        <div
          class="w-[38%] h-[400px] rounded-3xl overflow-hidden flex-shrink-0 relative"
        >
          <Image
            class={"absolute h-full w-full object-cover"}
            height={300}
            width={300}
            alt={"Goshen Founder"}
            src={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703929914/banners/ucqolrijlkrtybbizbkn.jpg"}
          />
        </div>

        <div class="">
          <div class="flex flex-col gap-1 prose">
            <h2>
              "Train up a child in the way he should go and when he is old, he
              will not depart from it."
            </h2>
            <span class="font-bold">Proverbs 22:6</span>
          </div>

          <p class="text-gray-700 line-clamp-7 prose mb-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem
            voluptates tempore fugiat autem quisquam tenetur explicabo
            laudantium expedita eaque quasi modi ratione, earum sunt! Tempore
            aspernatur eum, reprehenderit molestias distinctio alias maiores
            enim labore obcaecati. Amet quaerat excepturi, illo iure esse
            perferendis earum nam porro architecto cupiditate voluptates
            consectetur sapiente? Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Distinctio fugiat quam similique.
          </p>

          <a
            href="/about"
            class="font-bold prose mb-2 flex text-purple-500 underline-offset-4 underline"
            >Read More
          </a>

          <div class="flex flex-col">
            <h2 class="font-bold">OKAKE, IFEOMA CHINWE</h2>
            <small>Director/Founder</small>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials -->

    <section class="bg-purple-100 py-24">
      <div class="container mb-12 flex justify-between items-end">
        <div class="">
          <p class="text-purple-700 font-bold tracking-wide mb-5">
            TESTIMONIES
          </p>
          <h3 class="text-lg font-bold">What Parents Say about Us</h3>
        </div>

        <!-- Testimonies Navigation arrows -->
        <div class="arrows flex gap-3">
          <div
            class="h-12 w-12 bg-purple-100 text-gray-500 rounded-full grid place-items-center"
          >
            <Icon name={"mdi:arrow-left"} />
          </div>
          <div
            class="h-12 w-12 bg-purple-500 text-white rounded-full grid place-items-center"
          >
            <Icon name={"mdi:arrow-right"} />
          </div>
        </div>
      </div>
      <div class="container grid sm:grid-cols-2 gap-4 sm:gap-8">
        <TestimonialCard />
        <TestimonialCard />
      </div>
    </section>
  </main>

  <!-- News and Updates -->

  <section class="py-8">
    <div class="container mb-12 flex justify-between items-end">
      <div class="">
        <p class="text-purple-700 font-bold tracking-wide mb-5">
          NEWS AND UPDATES
        </p>
        <h3 class="text-lg font-bold">Check out our latest News and Updates</h3>
      </div>

      <a href="/news" class="text-purple-700 font-bold flex gap-2 items-center"
        >See all <Icon name={"mdi:arrow-right"} /></a
      >
    </div>

    <div class="container">
      <NewsCard />
    </div>
  </section>

  <!-- CTA -->

  <section></section>
</Layout>

<style>
  .illustation-image__about {
    background-image: url("https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703928891/banners/q8e1017bw0v3owa8gwh7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
</style>
