---
// import Layout from "../layouts/Layout.astro";
import Layout from "../layouts/Layout.astro";
import FlippableGridView from "../components/shared/FlippableGridView.astro";
import TestimonialCard from "../components/cards/TestimonialCard.astro";
import { Image } from "astro:assets";
import Navigator from "../components/shared/Navigator.astro";
import Indicator from "../components/shared/Indicator.astro";
import GalleryCard from "../components/cards/GalleryCard.astro";
import Button from "../components/shared/Button.astro";
import AboutSection from "../components/shared/AboutSection.astro";
import CTASection from "../components/sections/CTASection.astro";
import NewsSection from "../components/sections/NewsSection.astro";
---

<Layout activeNav="/">
  <main class="">
    <!-- Hero  -->

    <section class="hero relative grid w-full h-[70vh] sm:py-4">
      <div
        class="container gap-8 px-8 sm:px-4 items-center grid sm:grid-cols-7 h-full overflow-hidden"
      >
        <div class="bgI sm:hidden absolute"></div>
        <!-- Write-up -->
        <div
          class="sm:col-span-4 sm:text-gray-700 grid sm:gap-8 prose-lg sm:prose items-start"
        >
          <h1 class="sm:text-6xl !mb-2 sm:mb-auto text-white sm:text-gray-900">
            Empowering Every Child's Potential
          </h1>

          <p class="text-white sm:text-gray-900">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
            nihil velit praesentium porro repudiandae in nesciunt adipisci.
            Atque eos accusamus suscipit distinctio, consectetur illum
            similique.
          </p>

          <Button text="Enroll Today" iconName="arrow-right" color="blue" />
        </div>

        <!-- Illustration -->
        <div
          class="sm:col-start-5 hidden sm:grid sm:col-end-8 relative h-full w-full"
        >
          <Image
            height={600}
            width={600}
            class={"absolute top-0 h-full w-full object-cover"}
            src={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703929914/banners/ucqolrijlkrtybbizbkn.jpg"}
            alt={"Goshen City and Starts Group of Schools"}
          />
        </div>
      </div>
    </section>

    <!-- Schooling Categories -->

    <section class="bg-blue-950 py-12 sm:py-20 px-6 sm:px-0">
      <div class="container w-full text-white">
        <div
          class="grid grid-cols-2 sm:grid-cols-4 sm:space-x-4 space-y-8 sm:space-y-0 sm:divide-x-2"
        >
          <div
            class="flex flex-col px-2 sm:px-3 prose w-full justify-center items-center text-center gap-2"
          >
            <h3 class="not-italic text-white text-2xl">Creche</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae, itaque maiores veritatis hic perferendis vel.
            </p>
          </div>

          <div
            class="flex flex-col px-2 sm:px-3 prose w-full justify-center items-center text-center gap-2"
          >
            <h3 class="not-italic text-white text-2xl">Nursery</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae, itaque maiores veritatis hic perferendis vel.
            </p>
          </div>

          <div
            class="flex flex-col px-2 sm:px-3 prose w-full justify-center items-center text-center gap-2"
          >
            <h3 class="not-italic text-white text-2xl">Basic</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae, itaque maiores veritatis hic perferendis vel.
            </p>
          </div>
          <div
            class="flex flex-col px-2 sm:px-3 prose w-full justify-center items-center text-center gap-2"
          >
            <h3 class="not-italic text-white text-2xl">Secondary</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae, itaque maiores veritatis hic perferendis vel.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- About Us -->

    <section class="bg-gray-100 mt-16 sm:mt-20 mb-12 sm:mb-24 sm:py-24 py-12">
      <AboutSection title="ABOUT US" classes="container mb-12  px-6 sm:px-0" />

      <div class="illustation-image__about sm:h-[52vh] h-[320px] mb-16"></div>

      <div class="container flex flex-col gap-2 px-6 sm:px-0">
        <div
          class="prose max-w-6xl prose-headings:mb-3 mb-12 text-gray-800 w-full"
        >
          <h2 class="!mb-10">Welcome to Goshen Group of Schools</h2>

          <p class="text-gray-800">
            Our vision at Goshen Group of Schools, is to build a solid academic
            foundation for your children’s future and raise them up in the
            nurture and admonition of God that they may turn out to be
            well-rounded gentlemen and ladies in future.
          </p>
        </div>

        <Button text="Learn more" iconName="arrow-right" color="purple" />

        <div
          class="container prose prose-h2:text-4xl prose-p:text-lg p-8 sm:p-12 bg-purple-700 max-w-none sm:mt-24 mt-16 sm:rounded-3xl rounded-2xl w-full"
        >
          <h2 class="text-white">Our Mission</h2>
          <p>
            Our mission is to inculcate in the child values of discipline,
            integrity and hard work and build in him a strong and virile
            character to enhance his potentials and position him for a gainful
            future.
          </p>
        </div>
      </div>
    </section>

    <!-- Why Choose Us -->

    <section class="sm:py-24 py-12 px-6 sm:px-0">
      <AboutSection
        classes="container mb-4"
        title={"Why choose us"}
        subtitle="Here's What make us Unique!"
      />

      <div class="container sm:px-0 space-y-6">
        <FlippableGridView
          title="Innovative Learning Technology"
          imgSrc="https://res.cloudinary.com/dx9rpvjcw/image/upload/v1704672071/gallery/nlhji6z2asff6dithggc.jpg"
          content={[
            "In addidtion to traditional teaching methods, we also use technology to make learning more interesting and help students think better",
            "We provide our children with adequate learning materials in spacious classrooms and the engagement of well trained and highly motivated teachers and teaching assistants, every child is encouraged to bring out his/her best.",
          ]}
        />
        <FlippableGridView
          isReverse="true/"
          title="Diverse Extra-Curricullar Activities"
          imgSrc="https://res.cloudinary.com/dx9rpvjcw/image/upload/v1704672071/gallery/agc5alfv8bfi9rg8syos.jpg"
          content={[
            "In addidtion to traditional teaching methods, we also use technology to make learning more interesting and help students think better",
            "We provide our children with adequate learning materials in spacious classrooms and the engagement of well trained and highly motivated teachers and teaching assistants, every child is encouraged to bring out his/her best.",
          ]}
        />
        <FlippableGridView
          title="Blended Curriculum"
          content={[
            "At Goshen City Schools, our curriculum is a blend of the Nigerian National Basic Education curriculum and that of schools in the UK. We strongly believe that this unique blend will give your child the right foundation to face the future in the global village which the world has become in recent times. by pocessing these skills, they would be able to fit into any society where they find themselves in the future.",
          ]}
        />
        <FlippableGridView
          isReverse="true/"
          title="State-of-the-art Facilities"
          imgSrc="https://res.cloudinary.com/dx9rpvjcw/image/upload/v1704672072/gallery/rwrmjpgva96wdsvanvly.jpg"
          content={[
            "It is important to understand that science and technology cannot be over-emphasized, hence we have made sure that our science laboratories are well equipped. They include Chemistry, Physics, and Biology laboratories, while our facilities include Technology Workshop, Art Studio, Language room and all other essential amenity rooms.",
          ]}
        />
      </div>
    </section>

    <!-- Gallery-->

    <section
      class="relative grid items-center overflow-hidden mb-12 sm:mb-24 sm:py-24 py-12 bg-gray-50 mt-12"
    >
      <div class="container flex justify-between items-end px-6 sm:px-0">
        <AboutSection
          title="GALLERY"
          subtitle="Take a Virtual Tour of our School"
        />
        <!-- Gallery arrow Navigation -->
        <div class="arrows flex gap-3">
          <Navigator direction="left" isActive="true" />

          <Navigator direction="right" />
        </div>
      </div>

      <div class="grid grid-cols-3 h-[76vh] items-center">
        <GalleryCard
          imgSrc={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703929914/banners/ucqolrijlkrtybbizbkn.jpg"}
        />
        <GalleryCard
          imgSrc={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1704674300/gallery/u3xkvrzrhxnyrmyfxpsj.jpg"}
        />
        <GalleryCard
          imgSrc={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703929914/banners/ucqolrijlkrtybbizbkn.jpg"}
        />
      </div>

      <div class="container grid justify-center gap-12">
        <div class="flex gap-2 justify-center">
          <Indicator />
          <Indicator isActive />
          <Indicator />
        </div>

        <Button text="View All" iconName="arrow-right" color="purple" />
      </div>

      <!--
        <div
        class="absolute left-[50%] translate-x-[-50%] top-[50%] translate-y-[-30%] image-display h-[60vh] w-[85vh]"
      >
        <div
          class="relative h-full w-full overflow-hidden rounded-[48px] shadow-sm"
        >
          <Image
            class={"imgContainer object-cover"}
            height={1080}
            width={1080}
            alt={"Goshen Founder"}
            src={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703929914/banners/ucqolrijlkrtybbizbkn.jpg"}
          />
        </div>
      </Button> -->
    </section>

    <!-- Founders / Director Speech -->

    <section class="mb-12 sm:mb-24 sm:py-8 py-6 px-6 sm:px-0">
      <AboutSection
        title="FOUNDER/DIRECTORS"
        subtitle="Meet Our Director"
        classes="container mb-12"
      />

      <div
        class="container flex flex-col sm:flex-row gap-4 items-center sm:gap-8"
      >
        <div
          class="w-[320px] sm:w-[38%] h-[320px] sm:h-[400px] sm:rounded-3xl rounded-2xl overflow-hidden flex-shrink-0 relative"
        >
          <Image
            class={"absolute h-full w-full object-cover"}
            height={300}
            width={300}
            alt={"Goshen Founder"}
            src="https://res.cloudinary.com/dx9rpvjcw/image/upload/v1704672071/gallery/ph9jx4mtoixehuvdt31t.jpg"
          />
        </div>

        <div
          class="flex flex-col prose prose-headings:my-0 prose-p:text-gray-600"
        >
          <h2>
            "Train up a child in the way he should go and when he is old, he
            will not depart from it."
          </h2>
          <p class="font-bold !text-xl !mb-0 mt-2">Proverbs 22:6</p>

          <p
            class="text-gray-700 sm:line-clamp-7 line-clamp-5 prose !mb-0 max-w-none"
          >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem
            voluptates tempore fugiat autem quisquam tenetur explicabo
            laudantium expedita eaque quasi modi ratione, earum sunt! Tempore
            aspernatur eum, reprehenderit molestias distinctio alias maiores
            enim labore obcaecati. Amet quaerat excepturi, illo iure esse
            perferendis earum nam porro architecto cupiditate voluptates
            consectetur sapiente? Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Distinctio fugiat quam similique.
          </p>

          <a
            href="/about"
            class="font-bold mb-4 mt-2 text-lg flex text-purple-500 underline-offset-4 underline py-0"
            >Read More
          </a>

          <div class="flex flex-col">
            <h2 class="font-bold !text-xl sm:text-inherit">
              OKAKE, IFEOMA CHINWE
            </h2>
            <small>Director/Founder</small>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials -->

    <section class="bg-purple-100 sm:py-24 py-12 px-6 sm:px-0">
      <div class="container mb-16 flex justify-between items-end">
        <AboutSection
          title="TESTIMONIES"
          subtitle="What Parents Say about Us"
        />

        <!-- Testimonies Navigation arrows -->
        <div class="arrows flex gap-3">
          <Navigator direction="left" />

          <Navigator direction="right" isActive="true" />
        </div>
      </div>
      <div class="container grid sm:grid-cols-2 gap-4 sm:gap-8">
        <TestimonialCard />
        <TestimonialCard />
      </div>

      <div class="mt-16 flex gap-2 justify-center">
        <Indicator />
        <Indicator />
        <Indicator isActive />
        <Indicator />
        <Indicator />
      </div>
    </section>
  </main>

  <!-- News and Updates -->

  <NewsSection />

  <!-- CTA -->

  <CTASection />
</Layout>

<style>
  .illustation-image__about {
    background-image: url("https://res.cloudinary.com/dx9rpvjcw/image/upload/v1704672717/gallery/i7bakvtrj1pippjdubsp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .prose {
    max-width: none;
  }

  .bgI {
    background-image: url("https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703928891/banners/q8e1017bw0v3owa8gwh7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom bottom;
    background-color: #090808bc;
    background-blend-mode: overlay;
    @apply h-full w-full left-0 top-0 -z-40;
  }
</style>
