---
import Layout from "../layouts/Layout.astro";
---

<Layout activeNav="/">
  <main class="h-screen py-6 w-full">
    <!-- Hero Section -->
    <section class="hero grid w-full">
      <div class="container px-4"><h1>Goshen Group of Schools</h1></div>
    </section>
  </main>
</Layout>
