---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import NewsCard from "../components/cards/News.card.astro";
import { Image } from "astro:assets";
import AboutSection from "../components/shared/AboutSection.astro";
---

<Layout activeNav="news">
  <main>
    <div class="container">
      <!-- News and Updates -->
      <section class="mb-24 px-6 py-8 sm:px-0">
        <div class="max-w-none prose">
          <h1 class="font-[600] mb-12 underline text-gray-600">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
            optio accusamus ipsum possimus ullam modi.
          </h1>
        </div>

        <div
          class="featured-image sm:h-[76vh] h-[320px] relative sm:rounded-3xl rounded-2xl overflow-hidden"
        >
          <Image
            loading={"lazy"}
            height={400}
            width={1200}
            alt={"News descrition"}
            class={"absolute h-full w-full object-cover"}
            src={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703929914/banners/ucqolrijlkrtybbizbkn.jpg"}
          />
        </div>

        <div class="flex justify-between">
          <div class="flex items-center gap-3">
            <p class="font-bold flex items-center gap-2 text-gray-500">
              <Icon color="black" name={"mdi:person"} /> Annonymous user
            </p>
          </div>

          <!--  -->
          <div class="flex py-6 font-bold gap-8 text-gray-500">
            <p class="flex items-center gap-2">
              <Icon color={"black"} name={"mdi:clock"} /> 3 hours ago
            </p>
            <p class="flex items-center gap-2">
              <Icon color={"black"} name={"mdi:document"} /> 4 mins read
            </p>
          </div>
        </div>

        <div class="bg-blue-50 py-12 pb-24 sm:rounded-3xl rounded-2xl">
          <div class="flex flex-col prose max-w-none mt-1 px-4 sm:px-12 pb-12">
            <p
              class="text-gray-700 leading-10 text-lg first-letter:text-3xl first-letter:font-bold"
            >
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
              aperiam, accusamus eligendi ea impedit aliquid reprehenderit a
              perferendis? Dolor, distinctio consequatur nostrum sequi corrupti
              iure. Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellat voluptatibus praesentium provident aliquam nisi dolores
              unde itaque ad tenetur beatae eligendi, facilis accusamus quis
              repudiandae. Reprehenderit sit repellat vel deserunt adipisci,
              quasi nostrum amet porro ipsa alias quidem autem fugit repellendus
              placeat, vero numquam sed officiis debitis nam, incidunt beatae
              magnam? Sint amet modi ipsum! Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Ex non laudantium consectetur
              repellendus ad maxime, sint eos ipsam? Molestias repellendus
              dolore ea, vero cupiditate dicta eos sequi natus molestiae debitis
              non tempora dignissimos perspiciatis temporibus veniam atque
              distinctio hic fugiat vel odio voluptates. Blanditiis possimus
              odit corporis in vel praesentium magni asperiores repellat,
              molestias placeat nesciunt perspiciatis. Provident sit eum earum
              reiciendis excepturi illum nam pariatur quod aut ipsum magni alias
              hic suscipit velit perspiciatis totam nihil dolores quo
              praesentium, tempora sequi quam. Ab hic porro illo obcaecati ipsum
              cum asperiores voluptatum nulla amet, similique, maxime odio
              voluptas quas quae.
            </p>

            <p class="text-gray-700 leading-10 text-lg">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
              aperiam, accusamus eligendi ea impedit aliquid reprehenderit a
              perferendis? Dolor, distinctio consequatur nostrum sequi corrupti
              iure. Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellat voluptatibus praesentium provident aliquam nisi dolores
              unde itaque ad tenetur beatae eligendi, facilis accusamus quis
              repudiandae. Reprehenderit sit repellat vel deserunt adipisci,
              quasi nostrum amet porro ipsa alias quidem autem fugit repellendus
              placeat, vero numquam sed officiis debitis nam, incidunt beatae
              magnam? Sint amet modi ipsum! Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Ex non laudantium consectetur
              repellendus ad maxime, sint eos ipsam? Molestias repellendus
              dolore ea, vero cupiditate dicta eos sequi natus molestiae debitis
              non tempora dignissimos perspiciatis temporibus veniam atque
              distinctio hic fugiat vel odio voluptates. Blanditiis possimus
              odit corporis in vel praesentium magni asperiores repellat,
              molestias placeat nesciunt perspiciatis. Provident sit eum earum
              reiciendis excepturi illum nam pariatur quod aut ipsum magni alias
              hic suscipit velit perspiciatis totam nihil dolores quo
              praesentium, tempora sequi quam. Ab hic porro illo obcaecati ipsum
              cum asperiores voluptatum nulla amet, similique, maxime odio
              voluptas quas quae.
            </p>

            <p class="text-gray-700 leading-10 text-lg">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
              aperiam, accusamus eligendi ea impedit aliquid reprehenderit a
              perferendis? Dolor, distinctio consequatur nostrum sequi corrupti
              iure. Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellat voluptatibus praesentium provident aliquam nisi dolores
              unde itaque ad tenetur beatae eligendi, facilis accusamus quis
              repudiandae. Reprehenderit sit repellat vel deserunt adipisci,
              quasi nostrum amet porro ipsa alias quidem autem fugit repellendus
              placeat, vero numquam sed officiis debitis nam, incidunt beatae
              magnam? Sint amet modi ipsum! Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Ex non laudantium consectetur
              repellendus ad maxime, sint eos ipsam? Molestias repellendus
              dolore ea, vero cupiditate dicta eos sequi natus molestiae debitis
              non tempora dignissimos perspiciatis temporibus veniam atque
              distinctio hic fugiat vel odio voluptates. Blanditiis possimus
              odit corporis in vel praesentium magni asperiores repellat,
              molestias placeat nesciunt perspiciatis. Provident sit eum earum
              reiciendis excepturi illum nam pariatur quod aut ipsum magni alias
              hic suscipit velit perspiciatis totam nihil dolores quo
              praesentium, tempora sequi quam. Ab hic porro illo obcaecati ipsum
              cum asperiores voluptatum nulla amet, similique, maxime odio
              voluptas quas quae.
            </p>
          </div>

          <!-- Related Tags -->

          <div class="flex items-center gap-6 justify-center flex-col">
            <h3 class="font-bold text-2xl underline">Keywords</h3>

            <div class="tags flex items-center gap-3">
              <div class="tag bg-red-50">Resumption</div>
              <div class="tag bg-purple-50">News</div>
              <div class="tag bg-green-50">Admission</div>
            </div>
          </div>
        </div>
      </section>

      <!--  -->
      <section class="mb-24 px-6 sm:px-0">
        <div class="mb-12 flex justify-between items-end">
          <AboutSection
            title="More News"
            subtitle="Explore More News and Updates"
          />

          <a
            href="/news"
            class="text-purple-700 font-bold flex gap-2 text-[18px] items-center"
            >See all <Icon name={"mdi:arrow-right"} /></a
          >
        </div>

        <div class="grid sm:grid-cols-3 sm:gap-x-8 gap-y-10">
          <NewsCard />
          <NewsCard />
          <NewsCard />
        </div>
      </section>
    </div>
  </main>
</Layout>

<style>
  .tag {
    @apply text-sm tracking-wide grid place-items-center px-4 shadow-sm py-1 border font-semibold text-blue-900 border-blue-950 rounded-3xl cursor-pointer;
  }
</style>
