---
import Layout from "../../layouts/Layout.astro";
import NewsCard from "../../components/cards/News.card.astro";
import AboutSection from "../../components/shared/AboutSection.astro";

interface Frontmatter {
  title: string;
  keywords: string[];
  featuredImage: string;
  readingTime: string;
  pubDate: Date;
  author: string;
  slug: string;
  excerpt: string;
  url: string;
}
const posts = await Astro.glob<Frontmatter>("./*.mdx");
---

<!-- TODO: Use date library to get days/time ago today from day posted -->{}
<Layout activeNav="news">
  <main>
    <div class="container">
      <!--  -->
      <section class="mb-24 sm:py-20 py-12 px-6 sm:px-0">
        <div class="flex justify-between items-center mb-12">
          <AboutSection title="Latest Goshen News and Announcements" />

          <select name="" id="">
            <option value="all">All</option>
            <option value="events">Resumption</option>
            <option value="events">Payments</option>
            <option value="events">Admission</option>
            <option value="events">Scholarship</option>
            <option value="events">Events</option>
          </select>
        </div>

        <div class="grid sm:grid-cols-3 sm:gap-x-8 gap-y-10">
          {
            posts.map(
              (post) =>
                post && <NewsCard url={post.url} post={post?.frontmatter} />
            )
          }
        </div>
      </section>
    </div>
  </main>
</Layout>

<style>
  .tag {
    @apply text-sm tracking-wide grid place-items-center px-4 shadow-sm py-1 border font-semibold text-blue-900 border-blue-950 rounded-3xl cursor-pointer;
  }

  .tag:nth-child(2n) {
    @apply bg-green-50;
  }

  .tag:nth-child(3n) {
    @apply bg-purple-50;
  }
</style>

<style>
  select {
    @apply border px-3 py-2 rounded-xl text-sm border-blue-700;
  }
</style>

<script>
  const posts = await Astro.glob("../contents/*.mdx");

  console.log(posts);
</script>
