---
// import Image from "astro/components/Image.astro.jsx";

import { SITE } from "../config";
import { Icon } from "astro-icon/components";
import Logo from "./shared/Logo.astro";

export interface Props {
  activeNav?: "/" | "about" | "news" | "gallery" | "contact-us";
}

const { activeNav } = Astro.props;
---

<header class="border-b-2">
  <a id="skip-to-content" href="#main-content">Skip to content</a>
  <!-- Top Header navigation -->
  <div class="bg-purple-900 text-white sm:block hidden">
    <div
      class="container px-4 items-center py-4 grid grid-cols-3 justify-between"
    >
      <a
        class="leading-tight flex gap-3 text-sm"
        href={SITE.location.link}
        target="_blank"
        rel="noopener noreferrer"
        ><div class="text-[18px]">
          <Icon name={"mdi:location-outline"} />
        </div>
        <p class="font-bold">{SITE.location.address}</p>
      </a>

      <a
        href="tel:+2348036960509"
        class="flex gap-2 items-center justify-center w-full"
        ><Icon name={"mdi:phone-outline"} />
        <p class="font-bold tracking-widest">+234 803 696 0509</p>
      </a>

      <div class="socials flex gap-4 mx-auto w-full justify-end">
        <Icon size={4} name={"mdi:facebook"} />
        <Icon name={"mdi:twitter"} />
        <Icon name={"mdi:linkedin"} />
      </div>
    </div>
  </div>

  <!-- Bottom Header Navigation -->
  <div
    class="container sticky top-0 z-50 px-4 py-2 flex justify-between sm:items-center"
  >
    <Logo />
    <nav class="flex sm:justify-end justify-center items-end gap-4">
      <!-- Hamburger -->
      <button
        class="hamburger-menu focus-outline"
        aria-label="Open Menu"
        aria-expanded="false"
        aria-controls="menu-items"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="menu-icon"
        >
          <line x1="7" y1="12" x2="21" y2="12" class="line"></line>
          <line x1="3" y1="6" x2="21" y2="6" class="line"></line>
          <line x1="12" y1="18" x2="21" y2="18" class="line"></line>
          <line x1="18" y1="6" x2="6" y2="18" class="close"></line>
          <line x1="6" y1="6" x2="18" y2="18" class="close"></line>
        </svg>
      </button>

      <!-- Navigation Menu -->
      <ul id="menu-items" class="display-none sm:flex">
        <li>
          <a href="/" class={activeNav === "/" ? "active" : ""}> Home</a>
        </li>
        <li>
          <a href="/about" class={activeNav === "about" ? "active" : ""}>
            About Us
          </a>
        </li>
        <li>
          <a href="/gallery" class={activeNav === "gallery" ? "active" : ""}>
            Gallery
          </a>
        </li>
        <li>
          <a href="/news" class={activeNav === "news" ? "active" : ""}> News</a>
        </li>
        <li>
          <a
            href="/contact-us"
            class={activeNav === "contact-us" ? "active" : ""}
          >
            Contact Us
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  #skip-to-content {
    @apply absolute -top-full left-16 z-50 bg-skin-accent px-3 py-2 text-skin-inverted transition-all focus:top-4;
  }

  .hamburger-menu {
    @apply justify-center items-center sm:hidden;
  }
  .hamburger-menu svg {
    @apply h-6 w-6 scale-125 fill-skin-base;
  }

  nav {
    @apply flex w-full flex-col items-center sm:ml-2 sm:flex-row sm:justify-end sm:space-x-4 sm:py-0;
  }
  nav ul {
    @apply mt-4 grid w-44 grid-cols-2 grid-rows-4 gap-x-2 gap-y-2 sm:ml-0 sm:mt-0 sm:w-auto sm:gap-x-5 sm:gap-y-0;
  }
  nav ul li {
    @apply col-span-2 flex items-center justify-center;
  }
  nav ul li a {
    @apply w-full px-4 py-3 text-center font-bold hover:text-purple-950 sm:my-0 sm:px-2 sm:py-1;
  }

  nav a.active {
    @apply underline text-purple-900 decoration-2 underline-offset-8;
  }
  nav a.active svg {
    @apply fill-skin-accent;
  }

  nav button {
    @apply p-1;
  }
  nav button svg {
    @apply h-6 w-6 fill-skin-base hover:fill-skin-accent;
  }
  #theme-btn {
    @apply p-3 sm:p-1;
  }
  #theme-btn svg {
    @apply scale-125 hover:rotate-12 sm:scale-100;
  }

  .menu-icon line {
    @apply transition-opacity duration-75 ease-in-out;
  }
  .menu-icon .close {
    opacity: 0;
  }
  .menu-icon.is-active .line {
    @apply opacity-0;
  }
  .menu-icon.is-active .close {
    @apply opacity-100;
  }
</style>

<script>
  function toggleNav() {
    // Toggle menu
    const menuBtn = document.querySelector(".hamburger-menu");
    const menuIcon = document.querySelector(".menu-icon");
    const menuItems = document.querySelector("#menu-items");

    menuBtn?.addEventListener("click", () => {
      const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";
      menuIcon?.classList.toggle("is-active");
      menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
      menuBtn.setAttribute(
        "aria-label",
        menuExpanded ? "Open Menu" : "Close Menu"
      );
      menuItems?.classList.toggle("display-none");
    });
  }

  toggleNav();

  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", toggleNav);
</script>
